//main:style.scss

.nav-item{
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  @include size(30px, 240px);
  a{
    color: $font-color-2;
    text-decoration: none;
    font-weight: 600;
   &:hover{
     color: white;
     text-decoration: none;
   }
  }
}


summary{
  @include size(30px, 240px);
  outline: none;
  color: $font-color-2;
  text-decoration: none;
  font-weight: 600;
  padding: 0 20px;
  line-height: 30px;
  position: relative;
 &:hover{
   color: white;
   text-decoration: none;
   cursor: pointer;
 }
 kbd{
   position: absolute;
   top:9px;
   right:20px;
 }
}


details > summary::-webkit-details-marker {
  display: none;
}


.sum-secondary-menu{
  border-left: 1px solid $background-color-2;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(200px);

  .nav-item:hover:before{
    content:'';
    @include size(100%, 1px);
    background-color: white;
    position:absolute;
    display: block;
    left: -1px;
  }
}
