//main:style.scss

.nav-item{
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  @include size(30px, 240px);
  a{
    color: $grey-3;
    text-decoration: none;
    font-weight: 600;
   &:hover{
     color: white;
     text-decoration: none;
   }
  }
  &:hover{
    .nav-secondary-menu{
      display: block;
    }
  }
}

.nav-secondary-menu{
  display: none;
  position: absolute;
  top:-20px;
  margin-left: 220px;
  padding: 20px 0;
  border-radius: 0 4px 4px 0;
  z-index:50;
  @include size(auto, 220px);
  background: $semi-black;
  .nav-item{
    width: 220px;
  }
}
