//main:style.scss

header{
  @include size(60px, 100%);
  @include flex(center, space-between, row);
  background: $background-color-1;
  padding   : 0 20px;
  color     : $white;
}

header{
  top : 0;
  left: 0;
  z-index: 10;
  position: fixed;
}

.page-title{
  margin-left: 20px;
  font-weight: 600;
}

.arrow{
  background-color: $background-color-2;
  @include size(16px, 16px);
  margin-left: 10px;
  border-radius: 50%;
}


.user-title{
  @include transition(color);
  transition-duration: 200ms;
  will-change: color;
  color: $grey-3;
  font-weight: 600;

  * { margin-left: 10px}
  polyline {
    @include transition(stroke);
    transition-duration: 200ms;
    will-change: color;
    stroke: $grey-3;
  }

  &:hover{
    polyline { stroke: $white }
    cursor: pointer;
    color : $white;
  }
}

.switcher:hover{
  background-color: $semi-black;
  cursor: pointer;
  border-radius: 4px;
}

.switcher{

    .arrow{
      margin-right:  20px;
    }
}

.products{
  @include transition(transform);
  position: absolute;
  width: 300px;
  top:60px;
  left: calc(50% - (300px/2));
  background-color: $semi-black;
  border-radius: 0 0 4px 4px;
  padding: 20px;
  transform: translateY(-200px);
  z-index: 1;

  a{
    color: $grey-3;
    text-decoration: none;
    font-weight: 600;
    height: 30px;
   &:hover{
     color: white;
     text-decoration: none;
   }
  }
}

.prod-expanded{
  transform: translateY(0);
}
